h1{
    color: #1f2937;
    margin: 40px;
}
p{
    color: #1f2937;
    margin: 40px;  
    font-size: 18px;
}
nav{
    color: #f9faf8;
}
.box1{
    background-color:#845460;
    height: 310px;
    

}
 .button1{
    width: 70px;
    height:30px ;
    background-color:#2B4F60;
    margin:60px ;
    margin-top: 10px;
    color: white;
}

.pic{

    height:220px;
    width: 400px;
    position: absolute;
    top: 40px;
    left: 950px;
    bottom:40px ;
}

.img{
    height:200px;
    width: 300px;
    border-radius:10px ;
    margin: 35px;


}
.box2{
    background-color:#EAD3CB;
    text-align: justify;
    height:270px ;
   
    
}
.box3{
    background-color:#BDC7C9;
    height:270px;
    text-align:center;
    padding: 20px;
   
}
.box4{
    background-color:#2B4F60;
    height:60px ;
    width: 800PX;
    padding: 30px;
    margin-left:120px ;
    margin-right:120px ;
    margin-top: 22px;
  
    border-left:200px #BDC7C9  solid;
}
.text{
    color:white ;
    position: absolute;
    left: 600px;
    bottom:-34px ;
}
#button2{
    background-color:#2B4F60;
    position: absolute;
    right:700px ;
    bottom:2px ;
    color:white;
}
 